Sem9-Ses2-Reniec/WebContent/wsdl/PersonaReniec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:tns1="http://beans" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans"/>
   <element name="consultarDNI">
    <complexType>
     <sequence>
      <element name="dni" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarDNIResponse">
    <complexType>
     <sequence>
      <element name="consultarDNIReturn" type="tns1:PersonaBean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PersonaBean">
    <sequence>
     <element name="apellidos" nillable="true" type="xsd:string"/>
     <element name="dni" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="nombres" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultarDNIResponse">

      <wsdl:part element="impl:consultarDNIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarDNIRequest">

      <wsdl:part element="impl:consultarDNI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonaReniec">

      <wsdl:operation name="consultarDNI">

         <wsdl:input message="impl:consultarDNIRequest" name="consultarDNIRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarDNIResponse" name="consultarDNIResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonaReniecSoapBinding" type="impl:PersonaReniec">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultarDNI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarDNIRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarDNIResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonaReniecService">

      <wsdl:port binding="impl:PersonaReniecSoapBinding" name="PersonaReniec">

         <wsdlsoap:address location="http://localhost:8081/Sem9-Ses2-Reniec/services/PersonaReniec"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
